<div class="container-fluid p-0">
  <div class="heightfull">
    <div class="col-md-12 contentbox">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="row m-0">
            <div class="col-md-6 leftimg m-0 p-0">
              <div id="circle"></div>
              <div class="leftcontent">
                <p style="font-size: 31px">Welcome Back,</p>
                <p style="font-size: 10px">Sign in to continue access pages</p>
              </div>
              <div id="oval"></div>
            </div>
            <div class="col-md-6 p-0">
              <div class="form_outer p-5">
                <div class="col-12 text-center pb-4">
                  <img
                    src="../../../../assets/images/plexom.png"
                    class="text-center"
                    style="height: 30px"
                  />
                </div>
                <div class="form_inner">
                  <div class="inputs">
                    <div class="form-group mt-3 mb-1">
                      <label class="mb-2">LOGIN</label>
                      <div class="position-relative">
                        <img
                          class="position-absolute inputimg"
                          src="../../../../assets/images/mail.png"
                        />
                        <input
                          type="text"
                          class="form-control login_input position-relative"
                          id="exampleInputEmail1"
                          placeholder="Email"
                        />
                      </div>

                      <div class="position-relative mt-3">
                        <img
                          class="position-absolute inputimg"
                          src="../../../../assets/images/lock (1).png"
                        />
                        <input
                          type="password"
                          class="form-control login_input position-relative"
                          id="exampleInputEmail1"
                          placeholder="Password"
                        />
                      </div>
                      <p class="text-right mt-3 mb-2 forgot _cursor">
                        Forgot Password?
                      </p>
                    </div>
                    <button class="btn loginBtn mt-3 w-100">LOG IN</button>
                    <p class="mt-3 account">
                      Don’t have an account? <span class="signup _cursor" routerLink="../signup">Sign Up</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
