@import '../../../../assets/styles/variable.scss';
  // PLEXOME

$card_border:18px;
$black:rgb(0,0,0);

  .leftcontent {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
  }
  .contentbox {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }



  .heightfull {
    height:100vh;
    background-color: $app-light-background;
  }
  .card {
    border-radius: $card_border;
  }
  .leftimg {
    background: $sky_blue;
    border-radius: 18px 0 0 18px;
  }

  #oval {
    width: 105%;
    height: 115px;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    background: white;
    opacity: 20%;
    border-radius: 220px / 50px;
    transform: translate(-50%, -50%);
  }
  
  #circle {
    width: 450px;
    height: 402px;
    background: rgb(255, 255, 255);
    position: absolute;
    opacity: 20%;
    border-radius: 47% 62% 65% 68%;
    left: -113px;
    top: -56px;
    
  }

  label {
    font-size:14px;
    color:$black;
    font-weight:500;
  }

  ::placeholder {
    font-size:12px;
    color:$black;
    margin-left:10px;
  }
  
  .inputimg {
    height: 18px;
    width: 18px;
    top: 12px;
    left: 8px;
  }

  .forgot {
    font-size: 13px;
    font-weight: 400;
    color: $black;
  }
  .loginBtn {
    background: $sky_blue;
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
  }
  .account {
    font-size: 13px;
    text-align: center;
    color: $black;
    font-weight: 400;
  }
  .signup {
    color: rgb(0, 73, 162);
    font-weight: 600;

  }

  .leftcontent {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
  }
  
  @media(max-width:768px) {
    
      #circle {
        width: 402px;
    height: 400px;
    background: white;
    position: absolute;
    opacity: 20%;
    border-radius: 20% 92% 92% 79%;
    left: -88px;
    top: -49px;
      }

    .inner_form {
      padding: 30px 19px 30px 19px;
    }
  }
  @media(max-width:414px) {
    .leftimg {
 display:none;
    }
    .inner_form {
      padding: 30px 19px 30px 19px;
    }
  }