        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<!-- <div class="header-actions">
    <a class="mat-link-button" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    </a>
</div> -->

<div class="row header_out p-0 m-0">
    <p>app-header</p>
</div>