<div class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="col-3 col-xs-3 p-0" style="background: #e8e8e8;">
            <app-members></app-members>
        </div>
        <div class="col-6 col-xs-6 p-0" style="background: #c7c4c4;">
         
        </div>
        <div class="col-3 col-xs-3 p-0" style="background: #949494;">
            <app-circles></app-circles>
        </div>
    </div>

</div>