
@import "./assets/styles/variable.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #3b5362 !important;
}
html,body{
	height: 100%;
	scroll-behavior: smooth;
}
:focus {
    outline: 0 !important;
}
.hasError, .has-error {
  position: relative;

  input {
    border-color: red;
  }
}
._cursor {
  cursor: pointer;
}
.login_input {
  background: transparent;
  padding: 20px;
  font-size: 14px;
  border-radius: 8px;
  padding-left: 30px;
}


